<!DOCTYPE html>
<html>
<head>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <scriptsrc="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

</head>

<body>

<!-- make the layout beautiful, add some title may do bootstrap if we have time-->

    <form id="formoid" title="" method="post">
         <div>
             <label class="title">email address</label>
             <input type="text" id="email" name="email" >
         </div>
         <div>
             <label class="title">email content</label>
             <textarea rows="10" cols="50" id="content" name="content">I want to buy 100 shares of JPMorgan Chase for $300 and Apple with 1500 shares for 0.15 cents.</textarea>
         </div>
         <br>
         <div>
             <input type="submit" id="submitButton"  name="submitButton" value="Submit">
         </div>
  </form>

  <table id="grid-data" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="email">Email Address</th>
            <th data-column-id="ticker">Symbol</th>
            <th data-column-id="typeof">Action</th>
            <th data-column-id="shares">Quantity</th>
            <th data-column-id="shares">Asking Price</th>
            <th data-column-id="shares">Market Price</th>
            <th data-column-id="method">Order Type</th>
        </tr>
    </thead>
    <tbody id="tbody" jput="tbody_template" style="border: 1px solid black;">
    </tbody>
</table>

<!-- display the data retrieved form  -->

<!-- booking form -->

<!-- request pricing form -->

</body>

<script type='text/javascript'>
    /*
            create all js here, don't make seperate files

     */
    $("#formoid").submit(function(event) {

      event.preventDefault();

      // when the submit bottom is hit, hide the retrieved form

      url = '/submit';

      var getting = $.get( url, { email: $('#email').val(), content: $('#content').val() } );

      getting.done(function( data ) {
          console.log(data)
          var email = data.email

                var row = [];
                $(data.order).each(function(index) {
                        row.push(
                        '<tr><td>' + email + '</td>'
                        + '<td>' + data.order[index].ORG + '</td>'
                        + '<td>' + data.order[index].TYPE + '</td>'
                        + '<td>' + data.order[index].CARDINAL + '</td>'
                        + '<td>' + data.order[index].MONEY + '</td>'
                        + '<td>' + data.order[index].market_price + '</td>'
                        + '<td>' + data.order[index].METHOD + '</td></tr>');


                        });
                $("#tbody").html(row);
        })
    });
</script>

</html>
